header {
    clear: both;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.right {
    float: right;
}

footer {
    clear: both;
}

#animateDiv {
    width: 50px;
    background: #ff95da;
    color: #f47203;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    float: left;
    margin: 20px 0px;
    border-radius: 8px;
    position: relative;
    animation: myAnimateDiv 11s infinite;
}

@keyframes myAnimateDiv{
    0% {transform: rotate(10deg);left:-200px;}
   10% {transform: rotate(30deg);left:150px;}
   15% {transform: rotate(20deg);}
   20% {transform: rotate(40deg);}
   30% {transform: rotate(20deg);left:500px;}
   40% {transform: scale(2,2);}
   46% {transform: scale(1.5,1.5);right:300px;}
   50% {transform: rotate(20deg);}
   55% {transform: rotate(360deg);left:900px;background: #3a74de;}
   60% {transform: rotate(350deg);left:700px;}
   65% {transform: rotate(360deg);left:600px;}
   70% {transform: scale(2,2);}
   75% {transform: rotate(370deg);left:700px;}
   80% {transform: rotate(360deg);left:900px;background:#b79bd2;}
   85% {transform: rotate(340deg);left:900px;}
   90% {transform: rotate(180deg);left:300px;background:#e2539c;}
   93% {transform: rotate(-180deg);left:300px;}
   95% {transform: rotate(-20deg);left:300px;}
  100% {transform: rotate(0deg);left:-200px;}
}
